doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title EDIT To-Do List
  link(rel="stylesheet", href="/styles/styles.css")
body
  header
    h1 EDIT
  data
    each item in items
      item
        span.inline
          if item._id == current
            div.box#current
              span.fixedfont.inline
                if item.finished == true
                  img(src="/assets/checked-teal.png" width=32 height=32)
                else
                  img(src="/assets/unchecked.png" width=32 height=32)
              form.inline(action='/update/' + item._id method="POST")
                fieldset
                  input(type='hidden' name='_method' value='PUT')
                  input.inline#item(type="text" autocomplete="off" name="item" value=item.item) 
                  br
                  textarea#description(name="description" rows=8 cols=50)= item.description
                  button.edit Update
                  a.fakebutton(href="/") Nevermind.
          else
            span.fixedfont.inline
              if item.finished == true
                img(src="/assets/checked.png" width=32 height=32)
              else
                img(src="/assets/unchecked.png" width=32 height=32)

            span.itemtext.inline= item.item 
            br
            span.description.inline= item.description
        br
  footer
    p #{unfinished} items unfinished, #{total} items total.

  script(src="http://code.jquery.com/jquery-2.1.1.min.js")
  script(src="./js/app.js")