doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title To-Do List
  link(rel="stylesheet", href="styles/styles.css")
body
  header
  data
    each item in items
      span.fixedfont.inline
        if item.finished == true
          span [X]
        else
          span [ ]
      a(name='#' + item._id)
      span.inline
        if item._id == current
          form(action='/update/' + item._id method="POST")
            fieldset
              input(type='hidden' name='_method' value='PUT')
              input.inline(type="text" name="item" value=item.item) 
              br
              textarea(name="description" rows=8 cols=50)= item.description
              input(type='submit' value='Edit') 
        else
          span.inline= item.item 
          br
          span.inline= item.description

      br
  footer
    p #{unfinished} items unfinished, #{total} items total.

  script(src="http://code.jquery.com/jquery-2.1.1.min.js")
  script(src="./js/app.js")