doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title To-Do List
  link(rel="stylesheet", href="styles/styles.css")
body
  header
    form(action='/new_item' method='POST')
      fieldset
        span
          button.add +
        input(type="text" name="item")
  data
    each item in items
      p
        span
          input(type="checkbox" checked=item.finished value=item.item_id)

        span
          //- a(href="delete/#{item._id}")
          form(action="/delete/" + item._id method='POST')
            input(type='hidden' name='_method' value='DELETE')
            input(type='submit' value='X') 

            //- img(src="assets/red-x.png" width=16 height=16 data-id="#{item.item_id}")

        span #{item.item}  
  footer
    p 0 items unfinished, 5 items total.

  script(src="http://code.jquery.com/jquery-2.1.1.min.js")
  script(src="./js/app.js")