doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title To-Do List
  link(rel="stylesheet", href="styles/styles.css")
body
  header
  
    h1 Stuff To Do
    h3 
      span Logged in as 
        b #{user}.  
      a(href="/login") (Not you?)

    div.box

      form(action='/new_item' method='POST')
        fieldset
          h4.quickadd Add Item:
          input#item(autofocus autocomplete="off" type="text" name="item" width="90%" placeholder="What needs to be done?")
          br
          textarea#description(name="description" cols=50 rows=8 placeholder="Description")
          span
            button.quickadd + Quick Add +

      hr

      form(action='/add' method='GET')
        button.addnewscreen(action='/add') Add Item (new screen)

  data
    each item in items
      item
        div.inline-block.deletediv
          form.inline(action="/delete/" + item._id method='POST')
            input(type='hidden' name='_method' value='DELETE')
            input.delete(type='image' src='./assets/red-x.png' height=16 width=16 alt="Delete this item")

        div.inline-block.checkboxes.valign-top
          input.checkbox.inline(type="checkbox" checked=item.finished value=item._id)

        div.inline-block.tododata
          a.itemtext(href="/edit/" + item._id + "#current")= item.item
          p.description.inline= item.description
  footer
    p 
      span#unchecked_count #{unfinished} 
      span &nbsp;items unfinished, #{total} items total.

  script(src="http://code.jquery.com/jquery-2.1.1.min.js")
  script(src="./js/app.js")