doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title To-Do List
  link(rel="stylesheet", href="styles/styles.css")
body
  header
    form(action='/new_item' method='POST')
      fieldset
        span
          button.add +
        input(autofocus type="text" name="item")
  data
    each item in items
      span.inline
        input.checkbox.inline(type="checkbox" checked=item.finished value=item._id)
      span.inline
        //- a(href="delete/#{item._id}")
        form.inline(action="/delete/" + item._id method='POST')
          input(type='hidden' name='_method' value='DELETE')
          input(type='submit' value='X') 

          //- img(src="assets/red-x.png" width=16 height=16 data-id="#{item.item_id}")

      span #{item.item}  
      br
  footer
    p #{unfinished} items unfinished, #{total} items total.

  script(src="http://code.jquery.com/jquery-2.1.1.min.js")
  script(src="./js/app.js")